<!DOCTYPE html>
<html>
  <head>
    <% include ../partials/head %>
  </head>
  <body>
    <header>
      <% include ../partials/header %>
    </header>

    <h2>Books</h2>


    <% for (let media of locals.media) { %>
      <p><%= media.name %></p>
      <p><%= media.author %></p>
      <p><%= media.description %></p>
      <p><%= media.votes %></p>
    <% } %>

    <footer>
      <% include ../partials/footer %>
    </footer>
  </body>
</html>
