<form action="" method="post" class="edit-form">
  <label class="media-name">Name: <input class="media-name-textbox" type="text" name="name" value=<%= locals.media.name %> id="name"></label>
  <label class="media-description">Description: <input class="media-description-textbox" type="text" name="description" value=<%= locals.media.description %> id="description"></label>
  <label class="media-by"><%= locals.media.madeBy %> by: <input class="media-by-textbox" type="text" name="by" value="" id="by"></label>

  <input type="submit" value="Add">
</form>
