<!DOCTYPE html>
<html>
<body>

<form action="/albums/<%=id%>/update">
  Title: <input type="text" name="title" value="<%=title%>"><br>
  Artist: <input type="text" name="artist" value="<%=artist%>"><br>
  Overview: <input type="text" name="overview" value="<%=overview%>"><br>
  <input type="submit" value="Update">
</form>

</body>
</html>
