<!DOCTYPE html>
<html>
<body>

<form action="/movies/<%=id%>/update">
  Title: <input type="text" name="title" value="<%=title%>"><br>
  Director: <input type="text" name="director" value="<%=director%>"><br>
  Overview: <input type="text" name="overview" value="<%=overview%>"><br>
  <input type="submit" value="Update">
</form>

</body>
</html>
