<div class="panel panel-default">
  <table class="table">
    <tr>
      <th>Votes</th>
      <th>Name</th>
      <th>Upvote</th>
    </tr>

    <% @movies.each do |m| %>
      <tr>
        <td><%= m.upvotes %></td>
        <td><%= link_to m.title, movie_path(m.id) %></td>
        <td><button type="button" class="btn btn-default">Upvote</button></td>
      </tr>
    <% end %>
  </table>
</div>

<%= link_to "View All Media", root_path, class: "btn btn-default" %>
<%= link_to "Add a Movie", new_movie_path, class: "btn btn-default" %>