<table>
  <tr>
    <th>Ranking</th>
    <th>Title</th>
    <th>Upvote</th>
  </tr>

  <!-- generate each movie row here -->
  <% @movies.each do |movie| %>
    <tr>
      <td>Ranked: <%= movie.upvotes %></td>
      <td><%= movie.title %></td>
      <td>Upvote</td>
    </tr>
  <% end %>

</table>

<%= link_to "View All Media", root_path %>
<%= link_to "Add Movie", new_movie_path %>
