<div class="row">
<div class="col-lg-12">

  <h1>
    <%= @movie.name %>
    <small>Directed by: <%= @movie.director %></small>
  </h1>

  <h4>
    Ranked: <%= @movie.votes %>
  </h4>

  <p>
    <%= @movie.description %>
  </p>
</div>
</div>
