body {
  padding: 65px;
  padding-top: 0;
  font: 14px 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

h2 {
  font-size: 36px;
}

h3 {
  font-size: 30px;
}

/** Header **/
.page-header {
  background: url('../images/owl.jpg');
  background-repeat: no-repeat;
}

.page-header h1 {
  margin-left: 150px;
}
