Home

<h2> Top Movies </h2>

<%= link_to "See more movies...", movies_path %>

<h2> Top Books </h2>
<%= link_to "See more books...", books_path %>

<h2> Top Albums </h2>
<%= link_to "See more albums...", albums_path %>
