<div class= "container">
  <div class= "row">
    <div class= "col-md-4">
      <h2>Top Movies</h2>
    </div>
    <div class= "col-md-4">
      <h2>Top Books</h2>
    </div>
    <div class= "col-md-4">
      <h2>Top Albums</h2>
    </div>
  </div>
  <% @top.times do |i| %>
    <div class= "row">
      <% @categories.each do |category|%>
        <div class= "col-md-4">
          <%if category[i]%>
            <h3><%=link_to category[i].name, movie_path(category[i].id)%>
            <small>Ranked: <%=category[i].upvote%></small></h3>
          <%end%>
          <%if (i+1) == @top && category[i+1] != nil%>
            <a href="/movies">View More Movies</a>
          <%end%>
        </div>
      <%end%>
    </div>
  <% end %>
</div>