<section id="movies">
  <h1>Top Movies</h1>
<%= link_to "View more movies", movies_path %>
</section>

<section id="books">
  <h1>Top Books</h1>
<%= link_to "View more books", books_path %>
</section>

<section id="albums">
  <h1>Top Albums</h1>
<%= link_to "View more albums", albums_path %>
</section>
