.page-header {
  padding-bottom: 9px;
  margin: 40px 0 20px;
  border-bottom: 1px solid #eee;
  background-image: url(http://media-ranker.herokuapp.com/assets/owl-5e51d9e0d49c787f2ebd143e32cbf41c.jpg);
  background-repeat: no-repeat;
}

.page-header h1 {
  margin-left: 150px;
}

h2 small {
  font-size: 65%;
}